#author-title
{
    font-size: 3.8em;
    padding-bottom:10px;
}
#author-text
{
    font-size:1.2em;
    border:1px solid black;
    padding:20px 10px;
    border-radius: 10px;
    background-color: rgba(220, 219, 221, 0.733);
}
