#particles-js {
    //width: 100%;
    flex-basis: 100%;
    height: 600px;
    display: flex;
    position: relative;
    justify-content: center;
    //border: 1px solid black;
    background-color: blueviolet;
    .jumbotron {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -65%);
        width: 80%;
        height: 40%;
        text-align: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: rgba(#e9ecef, 0.3);
        @media(min-width: 1200px) {
            width: 60%;
        }
        @media(max-width: 580px) {
            width: 100%;
        }
        h1 {
            font-size: 5.5rem;
            //margin-bottom: 25px;

        }
        h3
        {
            font-size:2.2em;
        }
        
    }
}